<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RetoVelocimetroAutomovil.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>939045A51C9F4E250039C61F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>939045B91C9F4E250039C61F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>939045C41C9F4E250039C61F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
